a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
.container .word {
    font-size: 20px;
    font-weight: bold;
    margin-top:40px;
    margin-bottom: 10px;
}

div .ebutton {
    width:100px;
    background-color: peachpuff;
    border: none;
    padding: 15px;
    display: inline-block;
}