{% extends "base.html" %} {% load static %}{% block contents %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
{% comment %} rgba(248, 131, 121, 0.15) {% endcomment %}
<div class="jumbotron" style="background: rgba(0,0,0,0); padding:10px;">
  {% comment %} style="background: linear-gradient(#ffffff, rgba(248, 131, 121,
  0.15), #ffffff) !important;"> {% endcomment %}
  <div class="container">
    <div class="row">
      <div class="container col-md-8">
        <img id="main_image" src="{{ fund_detail.image_url.url }}" alt="{{ title }}" width="100%" height="100%"
          style="border-radius: 20px !important;" />
        <br />
      </div>
      <div class="container col-md-4 align-self-center pl-0">
        <div class="media-body grid-box align-items-center">
          <div class="item1 mt-0 mb-2 text-center" style="font-weight:bold; font-size:3em;">{{ fund_detail.title }}</div>
          <div class="box">기부 주최자 </div>
          <div class="box-name"><a href="{% url 'profile' fund_detail.organizer.user.id %}" style=" font-size:1.3em; font-family: 'NIXGONB-Vb';"> {{ fund_detail.organizer.nickname }}</a></div>
          <div class="box">기부할 기관</div> <div style="font-size:1.3em; font-family: 'NIXGONB-Vb';">{{ fund_detail.organization }} </div> 
          <div class="box">목표 금액</div> <div>{{ fund_detail.goal }}원 </div> 
          <div class="box">현재 모금액</div> <div>{{ fund_detail.current_fund }}원</div>
          <div class="box">조회수</div> <div>{{ fund_detail.hit }}</div>
          <div class="box">기부 진행 기간</div>
          <div>{{ fund_detail.start_day }}~{{ fund_detail.end_day }}</div>
        </div>
          <div class="wrapper">
            <div class="wrap1 pr-1">
              {% comment %}
              <form action="{% url 'post_like' fund_detail.fund_id%}" method="POST" style="display:inline;">
                {% endcomment %} {% comment %} {% csrf_token %} {% endcomment %}
                <button id="like" type="submit" value="like" class="btn btn-primary btn-sm btn-like mx-1"
                  name="{{ fund_detail.fund_id }}">
                  좋아요 {{ fund_detail.like }}개
                </button>
                {% comment %}
              </form>
              {% endcomment %}
            </div>
            <div class="wrap2 px-1">
              <button type="button" id="kakao-link-btn" class="btn btn-primary btn-sm btn-share mx-1" href="javascript:;">
                카톡<br>공유
              </button>
            </div>
            <div class="wrap3 pl-0 mr-1">
              <button id="copy-link"type="button" class="btn btn-primary btn-sm btn-share mx-1" onclick="copyLink()">
                링크<br>복사
              </button>
            </div>
          </div>
          <div class="wrapper-price justify-content-start mt-2 align-items-center">
            <div class="wrap-p1 mx-0 pr-0">
              <input id="fund_amount" class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" style="height:37px;" placeholder="기부하고 싶은 만큼 입력하세요~"/>
            </div>
            <div class="wrap-p2 mt-3 mx-0 px-1 text-left" style="font-size: 1.1em; font-weight: bold;">
              <p>원</p>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-md-12">
              <button type="button" class="btn btn-warning fund-btn" style="width:100% !important;"
                onclick="pay()">
                {% comment %} "location.href='{% url 'payment' %} {% endcomment %}
                기부하기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="row justify-content-between">
      <div class="col-md-12 mt-3 mb-1">
        <div class="progress" style="height: 30px; width: 100%; background-color:rgba(179, 177, 177, 0.383);">
          <div class="progress-bar bg-warning" role="progressbar"
            style="width: {% widthratio fund_detail.current_fund fund_detail.goal 100 %}%; color: black;"
            aria-valuenow="{% widthratio fund_detail.current_fund fund_detail.goal 100 %}" aria-valuemin="0"
            aria-valuemax="100">
            &nbsp;&nbsp;
            {% widthratio fund_detail.current_fund fund_detail.goal 100 %} %
            ({{fund_detail.current_fund}}원)
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4 pr-2">
        <div class="has_content">
            <h4 class="text-center" style="font-family:'NIXGONB-Vb';">기부 내용</h4><br>
          <p id="has_content" content="{{ fund_detail.content }}"></p>
            
        </div>
      </div>

      <div class="col-md-6 mt-4 pl-2">
        <div class="donator_list">
          <h4 class="text-center" style="font-family:'NIXGONB-Vb';">기부자 목록</h4><br>
          {% for donation in fund_detail.donations %}
          <div class="row">
            <div class="col-md-3 col-sm-12 pl-3">
              <a href="{% url 'profile' donation.user.user.id %}"> 
              {{ donation.user.nickname }}</a>
            </div>
            <div class="col-md-9 col-sm-12">
              <div class="progress" style="height: 20px; width: 100%;">
                <div class="progress-bar bg-warning" role="progressbar"
                  style="width: {% widthratio donation.amount fund_detail.current_fund 100 %}%; color: black;"
                  aria-valuenow="{% widthratio donation.amount fund_detail.current_fund 100 %}"
                  aria-valuemin="0" aria-valuemax="100">{{donation.amount}}원</div>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
  <br /><br />

  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript">
    var img_url = "http://"+window.location.host+"{{fund_detail.image_url.url}}";
    //alert(img_url)
    //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init("c2eac2e45e9b4539eab1b1ecbeaf492a");
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
      container: "#kakao-link-btn",
      objectType: "feed",
      content: {
        title: "{{fund_detail.title}}",
        description: "{{fund_detail.content}}",
        imageUrl: img_url,
        link: {
          mobileWebUrl: $(location).attr('href'),
          webUrl: $(location).attr('href')
        }
      },
      social: {
        likeCount: {{fund_detail.like}},
        {% comment %} commentCount: 45, {% endcomment %}
        {% comment %} sharedCount: 845 {% endcomment %}
      },
      buttons: [{
          title: "지금 기부하기",
          link: {
            mobileWebUrl: $(location).attr('href'),
            webUrl: $(location).attr('href')
          }
        },]/*
        {
          title: "지금 기부하기",
          link: {
            mobileWebUrl: $(location).attr('href'),
            webUrl: $(location).attr('href')
          }
        }
      ]*/
    });
    //]]>
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
   $('#has_content').html($('#has_content').attr('content'))
  </script>

<script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    function copyLink() {
 var dummy = document.createElement('input'),
    text = window.location.href;

document.body.appendChild(dummy);
dummy.value = text;
dummy.select();
document.execCommand('copy');
  alert("링크 복사되었습니다.");
document.body.removeChild(dummy);


}

{% if user.is_authenticated %}
    function pay () {
        var IMP = window.IMP;
        var code = "imp83090447"; // FIXME: 가맹점 식별코드
        IMP.init(code);

        // 결제요청
        IMP.request_pay({
            // name과 amount만 있어도 결제 진행가능
            pg: 'kakao', // pg 사 선택 //kakao
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '당신은 기부천사',
            amount: $("#fund_amount").val(),
            buyer_email: 'iamport@siot.do',
            buyer_name: '기부천사',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456',
            m_redirect_url: "$(location).attr('href')"
        }, function (rsp) {
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                var pk = {{fund_detail.fund_id}}
                $.ajax({
                  type: "POST", // 데이터를 전송하는 방법을 지정한다.
                  url: "{% url 'pay' %}", // 통신할 url을 지정한다.
                  data: {
                    pk: pk,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    amount: rsp.paid_amount,
                  }, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
                  dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
                  // 서버측에서 전송한 데이터 views.py like 메소드
                  // context = {'likes_count' : memo.total_likes, 'message' : message}
                  // json.dump(context)를 통해서 json 형식으로 전달된다.

                  success: function (response) {
                    //window.open($(location).attr('href'));
                  },
                  error: function (request, status, error) {
                    //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                  }
                });
            } else {
                var msg = '결제에 실패하였습니다.\n' + rsp.error_msg
            }
            alert(msg);
        });
    }
    {% else %}
    function pay () {
      window.open("http://127.0.0.1:8000/accounts/login/","_self")
    }
    {% endif %}

</script>

  <script type="text/javascript">
    // 좋아요 버튼 처리
    // 버튼 클릭 > ajax통신 (like url로 전달) > views의 like 메소드에서 리턴하는 값 전달받기 > 성공시 콜백 호출
    $("#like").click(function () {
      var pk = $(this).attr("name"); // 클릭한 요소의 attribute 중 name의 값을 가져온다.
      $.ajax({
        type: "POST", // 데이터를 전송하는 방법을 지정한다.
        url: "{% url 'like' %}", // 통신할 url을 지정한다.
        data: {
          pk: pk,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
        dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
        // 서버측에서 전송한 데이터 views.py like 메소드
        // context = {'likes_count' : memo.total_likes, 'message' : message}
        // json.dump(context)를 통해서 json 형식으로 전달된다.

        success: function (response) {
          // 성공했을 때 호출할 콜백을 지정한다.
          id = $(this).attr("name");
          $("#count" + pk).html("count : " + response.likes_count);
          //alert(response.message);
          //alert("좋아요수 :" + response.likes_count);
          $("#like").text("좋아요 " + response.likes_count + "개");
        },
        error: function (request, status, error) {
          //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    });
  </script>

  {% endblock contents %}
</div>
