{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
</head>
<body>
        <br>
        <br>
        <div class="container">
            <!-- FAQ -->
            <div class="container_title">
                <h1>FAQ(자주 묻는 질문)</h1>
                <hr align="left" style="border:0; height:8px; background: #ff8d46; width:53%; border-radius: 6px;"/>
            </div>
            <!-- FAQ 분류 -->
            <p style="width: 80%; margin-top:40px; margin-left: 10px;"> 
                <a href="#donater"><h3>1. 기부 진행자(단체)입니다.</h3></a>
            </p>
            <p style="width: 80%; margin-left: 10px;"> 
                <a href="#participater"><h3>2. 기부 참여자입니다.</h3></a>
            </p>
            <br>
            <br>
            <br>
            <!-- 1. 기부 진행자(단체) -->
            <div class="container_title">
                <a name="donater"><h2>1. 기부 진행자(단체)입니다.</h2></a>
                <hr align="left" style="border:0; height:6px; background: #ff8d46; width:56%; border-radius: 6px;"/>
            </div>
            <div class=word style="margin-top:40px;">  
                1. 기부 단체를 정하지 못하겠어요. 어떡하나요?
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                페이지에서 현재 기부 현황, 달성율, 기부 참가 인원, 모금액 등을 SYD 기부 차트를 통해서 쉽고 간편하게 확인할 수 있습니다.
            </p>     
            <div class=word style="margin-top:40px;"> 
                2. 
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                소규모 기부에 직접 주최자의 계좌를 이용해야 하는 불편함을 SYD에서 직접 관리해 줍니다.
            </p>
            <div class=word style="margin-top:40px;"> 
                3. 
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                소규모 기부자분들 중에서 원하는 기부자분들에 한해 기부할 단체를 추천해주고 연결해줍니다.
            </p>
            <br>
            <!-- 2. 기부 참여자 -->
            <div class="container_title">
                <a name="participater"><h2>2. 기부 참여자입니다.</h2></a>
                <hr align="left" style="border:0; height:6px; background: #ff8d46; width:45%; border-radius: 6px;"/>   
            </div>
            <div class=word style="margin-top:40px;">  
                1.
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                페이지에서 현재 기부 현황, 달성율, 기부 참가 인원, 모금액 등을 SYD 기부 차트를 통해서 쉽고 간편하게 확인할 수 있습니다.
            </p>     
            <div class=word style="margin-top:40px;"> 
                2. 
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                소규모 기부에 직접 주최자의 계좌를 이용해야 하는 불편함을 SYD에서 직접 관리해 줍니다.
            </p>
            <div class=word style="margin-top:40px;"> 
                3.
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                소규모 기부자분들 중에서 원하는 기부자분들에 한해 기부할 단체를 추천해주고 연결해줍니다.
            </p>
            <br>
        </div>    
</body>
</html>

{% endblock contents %}