{% extends "base.html" %} 
{% load static %}
{% block contents %}

{% comment %} 슬라이드 메뉴 {% endcomment %}
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!-- 1번째 slide -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://event.likelion.org/hackathon/projects/194">
          <img class="d-block w-100" src="{% static 'img/CardOne.png' %}" alt="First slide" style="border-radius: 10px !important;">
          <div style="position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: rgba(248, 131, 121, 0.7);
            color: white;
            padding-left: 20px;
            padding-right: 20px;">
            </div>
        </a>
      </div>
      <!-- 2번째 slide -->
      <div class="carousel-item">
        <a href="">
          <img class="d-block w-100" src="https://picsum.photos/1000/300" alt="Second slide" style="border-radius: 10px !important;">
          <div style="position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: rgba(248, 131, 121, 0.7);
            color: white;
            padding-left: 20px;
            padding-right: 20px;">
            </div>
        </a>
      </div>
      <!-- 3번째 slide -->
      <div class="carousel-item">
        <a href="">
          <img class="d-block w-100" src="https://picsum.photos/1000/300" width=1110px height=333px alt="Third slide" style="border-radius: 10px !important;">
          <div style="position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: rgba(248, 131, 121, 0.7);
            color: white;
            padding-left: 20px;
            padding-right: 20px;">
            </div>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>

{% comment %} 기부 리스트 {% endcomment %}
<div class="container">
  <hr id="popular_funds" align="left" style="border:0; height:8px; background: #ff8d46; width:30%; border-radius: 6px;"/>
  <h2  style="display: inline;">인기 기부</h2> 
  {% comment %} <a href="">&nbsp; 더보기</a> {% endcomment %}
  <div class="row mt-3">
  {% for fund in popular_list %}
    <div class="col-md-4">
      <a href="{% url 'detail' fund.fund_id %}">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
          <img src="{{ fund.image_url.url }}" alt="" width="100%" height="225" style="border-radius: 15px; padding:5px;">
          <div class="card-body">
            <h4 class="card-title"> {{fund.title}}

              <!-- 날짜에 따른 D-day 설정 표기 -->
            {% if fund.d_day == 0 %}
            <button type="button" class="btn btn-sm btn-light">D-DAY</button></h4>
            {% elif fund.d_day < 0 %}
            <button type="button" class="btn btn-sm btn-light">D{{fund.d_day}}</button></h4>
            {% else %}
            <button type="button" class="btn btn-sm btn-light">D+{{fund.d_day}}</button></h4>
            {% endif %}
            <h6>by {{fund.organizer.nickname}}</h6>
            <div class="progress" style="height: 20px; width: 95%">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio fund.current_fund fund.goal 100 %}%; color: black;"
                aria-valuenow="{% widthratio current_fund goal 100 %}" aria-valuemin="0" aria-valuemax="100">
                {% widthratio fund.current_fund fund.goal 100 %}%
              </div>
            </div>
            <p class="card-text has_content" content="{{fund.content}}"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'detail' fund.fund_id %}'">View</button>
                {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                {% endcomment %}
              </div>
              <small class="text-muted">{{fund.hit}} Views &nbsp;&nbsp;&nbsp; {{fund.like}} Likes</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>

  <hr id="recent_funds" align="left" style="border:0; height:8px; background: #ff8d46; width:30%; border-radius: 6px;"/>
  <h2 style="display: inline;">종료 임박</h2> 
  {% comment %} <a href="">&nbsp; 더보기</a> {% endcomment %}
  <br>
  <div class="row mt-3">
  {% for fund in recent_list %}
    <div class="col-md-4">
      <a href="{% url 'detail' fund.fund_id %}">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
          <img src="{{fund.image_url.url}}" alt="" width="100%" height="225" style="border-radius: 15px; padding:5px;">
          <div class="card-body">
            <h4 class="card-title"> {{fund.title}}
                          <!-- 날짜에 따른 D-day 설정 표기 -->
            {% if fund.d_day == 0 %}
            <button type="button" class="btn btn-sm btn-light">D-DAY</button></h4>
            {% elif fund.d_day < 0 %}
            <button type="button" class="btn btn-sm btn-light">D{{fund.d_day}}</button></h4>
            {% else %}
            <button type="button" class="btn btn-sm btn-light">D+{{fund.d_day}}</button></h4>
            {% endif %}

            <h6>by {{fund.organizer.nickname}}</h6>
            <div class="progress" style="height: 20px; width: 95%">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio fund.current_fund fund.goal 100 %}%; color: black;"
                aria-valuenow="{% widthratio current_fund goal 100 %}" aria-valuemin="0" aria-valuemax="100">
                {% widthratio fund.current_fund fund.goal 100 %}%
              </div>
            </div>
            <p class="card-text has_content" content="{{fund.content}}"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'detail' fund.fund_id %}'">View</button>
              </div>
              <small class="text-muted">{{fund.hit}} Views &nbsp;&nbsp;&nbsp; {{fund.like}} Likes</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  console.log(document.getElementsByClassName('has_content'))

  var content_list = document.getElementsByClassName('has_content')
  for(var i=0; i<content_list.length; i++){
    console.log(content_list[i])
    if (content_list[i].getAttribute('content').length > 70)
        content_list[i].innerHTML = content_list[i].getAttribute('content').substring(0, 70) + '…';
    else
      content_list[i].innerHTML = content_list[i].getAttribute('content');
  }

  
</script>

{% endblock contents %}