{% extends "base.html" %}
{% load static %}
{% block contents %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <br>
    <br>
    <div class="form">
      <div class="form-panel one">
        <div class="form-header">
          <h1>Login</h1>
        </div>
        <div class="form-content">
        {% if error %}
        {{ error }}
        {% endif %}  
          <form action="{% url 'login' %}" method="POST" class="login">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">ID</label>
              <input type="text" id="username" name="username" required="required" placeholder="ID"/>
            </div>
            <div class="form-group">
              <label for="password" style="width:100%;">Password</label>
              <input type="password" id="password" name="password" required="required" placeholder="Password"/>
            </div>
            <!-- 아이디 기억 체크박스 -->
            <div style="text-align: right;">
              <label class="checkbox" style="margin-top: 10px;">
                <input type="checkbox" value="remember" id="rememberMe" name="rememberMe"> 아이디 기억
              </label>
            </div>
            <div class="form-group" style="font-size:1.3em;">
                <button type="submit">Login</button>
            </div>
          </form>
          <br>
        <div class="text-center">회원이 아니신가요? <a href="{% url 'signup' %}">회원가입 하기</a></div>
        </div>
      </div>
    </div>        
      <!-- <div class="Container">
        {% if error %}
        {{ error }}
        {% endif %}
        <form method="POST" action="{% url 'login' %}"class="login" style="max-width: 380px; padding: 15px 35px 45px; margin: 0 auto; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
          <h2 class="login_heading" style="text-align: center;">Login</h2>
          <br>
          <input type="text" class="form-control" name="username" placeholder="ID" required="" autofocus="" />
          <input type="password" class="form-control" name="password" placeholder="Password" required="" style="margin-top: 10px;"/>
          <div style="text-align: right;">
            <label class="checkbox" style="margin-top: 10px;">
              <input type="checkbox" value="remember" id="rememberMe" name="rememberMe"> 아이디 기억
            </label>
          </div>  
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>   -->
  </body>
</html>
{% endblock contents %}