{% extends "base.html" %}
{% load static %}
{% block contents %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  </head>
  <body>
    {% extends 'base.html' %} {% block contents %}
    <div class="container" style="padding-top:100px; ">
      {% if error %}
      {{ error }}
      {% endif %}
      <h1>Login</h1>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %} Username:
        <br />
        <input name="username" type="text" value="" />
        <br />
        Password:
        <br />
        <input name="password" type="password" value="" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
{% endblock contents %}