{% extends 'base.html' %}
{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mypage</title>
</head>
<body>
    <br>
    <br>
    <div class="container">   
        <input type="button" value="개인정보 수정" name="btn1">
        <!-- 주최 기부 목록 -->
        <div class="container">        
            <h2>주최한 기부</h2>
            <br>
            <br>
            <br>
        <hr width="100%">    
        </div> 
        
        
        <!-- 참가 기부 목록 -->
        <div class="container">        
            <h2>참가한 기부</h2>
            <br>
            <br>
            <br>
        <hr width="100%">    
        </div>

        <!-- 누적 기부 금액 들어가는 곳 -->
        <div class="container">        
            <h2>누적 기부 금액</h2>
            <br>
            <br>
            <br>
        <hr width="100%">    
        </div>
    </div>
    


    
</body>
</html>
{% endblock contents %}