{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Policy</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
        <!-- 개인정보처리방침 -->
        <div class="container_title">
            <h1>개인정보처리방침</h1>
            <hr align="left" style="border:0; height:8px; background: #ff8d46; width:34%; border-radius: 6px;"/>
        </div>
        <br>
        <br>
        <br>
            <!-- 1.  -->
        <div class="container_title">
                <a name="donater" style="font-weight:bold;"><h2>개인정보처리방침은 개인정보보호 종합포털을 참고하여 작성한 예시입니다.</h2></a>
                <hr align="left" style="border:0; height:6px; background: #ff8d46; width:35%; border-radius: 6px;"/>
            </div>
            <div class=word style="margin-top:40px; margin-bottom:10px; font-weight:bold;"> 
                1. 개인정보 수집 및 이용
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                회원가입. 필수적으로 성명, 이메일, 생년월일, 휴대폰 번호등을 수집합니다. 가입 의사 확인, 기부 참가여부, 공지사항 및 영수증 발급을 위해 사용됩니다. 회원가입을 하는 경우 수집에 동의한 것으로 간주합니다.    
            </p>
            <div class=word style="margin-top:40px; margin-bottom:10px; font-weight:bold;">  
                2. 개인정보의 처리목적
            </div>
            <p style="width: 80%; margin-left: 10px; ">     
                'ShareYourDay'는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
                <br>
                - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별 인증, 회원 자격 유지 관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급 배송 등
            </p>     
            <div class=word style="margin-top:40px; margin-bottom:10px; font-weight:bold;"> 
                3. 개인정보 보호대책
            </div>
            <p style="width: 80%; margin-left: 10px;">     
                ShareYourDay 는 비밀번호를 암호화합니다. 회원분들의 비밀번호는 원본을 알 수 없도록 변형되어 저장되고 관리됩니다. 따라서 개인정보의 세부적 정보는 본인만 알 수 있고 변경 또한 본인에 의해서만 가능합니다.
            </p>
            <br>
        <br>
        <!-- 3. E-mail로 문의하기 -->
        <div class="container_title">
            <a name="email"><h2>그 외의 문의사항은 E-mail로 문의하세요</h2></a>
            <hr align="left" style="border:0; height:6px; background: #ff8d46; width:27%; border-radius: 6px;"/>   
        </div>
        <br>
        <div style="text-align:center;">
            <input type="button" value="E-mail로 문의" class="ebutton"  onclick="window.location.href='mailto:rlagksruf16@navercom'" style=" text-align:center; width: 140px; height: 60px; border: none; border-radius: 10px; background-color: #FF6D70; color: white; font-weight: bold;"/>
        </div>
        <br>
        <br>
    </div>   
</body>
</html>




{% endblock contents %}