{% extends 'base.html' %} {% load static %} {% block contents %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>Profile</title>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 px-5 mb-3 text-center">
        <img
          src="{{ profileInfo.profileImage.url }}"
          alt="profile_img"
          height="225"
          style="border-radius:15px; max-width: 100%;"
        />
      </div>
      <div class="col-sm-12 col-md-7 px-3 my-3" style="display:inline;">
        <div class="container">
          <p>
            <span style="font-size: 2rem; font-weight:bold;">
              {{ profileInfo.nickname }} </span>님의 프로필 &nbsp;&nbsp;&nbsp;
              {% if profileInfo.user == user %}
            <button
              type="button"
              class="updateButton"
              onclick="location.href='{% url 'updateProfile' user.id %}' ">
              개인 정보 수정
            </button>
            {% endif %}
          </p>
          <h4 class="mt-4">총 기부금 : {{total_fund}}</h4>
          <h4 class="my-4">기부횟수 : {{total_fund_count}}</h4>
        </div>
      </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <!-- 주최 기부 목록 -->
    <div class="container grid3">

    <hr align="left"
    style="border:0; height:8px; background: #ff8d46; width:30%; border-radius: 6px;" />
      <h2>주최한 기부</h2>
      <br />
      <div class="row mt-3">
      {% for fund in fund_list %}
    <div class="col-md-4">
      <a href="{% url 'detail' fund.fund_id %}">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
          <img src="{{ fund.image_url.url }}" alt="" width="100%" height="225" style="border-radius: 15px; padding:5px;">
          <div class="card-body">
            <h4 class="card-title mb-2"> {{fund.title}}<br>

              <!-- 날짜에 따른 D-day 설정 표기 -->
            {% if fund.d_day == 0 %}
            <button type="button" class="btn btn-sm btn-light mt-1">D-DAY</button>
            {% elif fund.d_day < 0 %}
            <button type="button" class="btn btn-sm btn-light mt-1">D{{fund.d_day}}</button>
            {% else %}
            <button type="button" class="btn btn-sm btn-light mt-1">D+{{fund.d_day}}</button>
            {% endif %}
            <span class="justify-content-right align-items-center mt-1" style="font-size: 1rem;">&nbsp;&nbsp;&nbsp;&nbsp;by {{fund.organizer.nickname}}</span>
            </h4>
            <div class="progress mb-3" style="height: 20px; width: 95%">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio fund.current_fund fund.goal 100 %}%; color: black;"
                aria-valuenow="{% widthratio current_fund goal 100 %}" aria-valuemin="0" aria-valuemax="100">
                &nbsp;&nbsp;{% widthratio fund.current_fund fund.goal 100 %}%
              </div>
            </div>
            <p class="card-text has_content" style="line-height: 150%;" content="{{fund.content}}"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'detail' fund.fund_id %}'">View</button>
                {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                {% endcomment %}
              </div>
              <small class="text-muted">{{fund.hit}} Views &nbsp;&nbsp;&nbsp; {{fund.like}} Likes</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
    </div>


    <!-- 참가 기부 목록 -->
    <div class="container">
        <hr align="left"
        style="border:0; height:8px; background: #ff8d46; width:30%; border-radius: 6px;" />
      <h2>참가한 기부</h2>
      <br />
      <div class="row mt-3">
      {% for fund in do_user_list %}
    <div class="col-md-4">
      <a href="{% url 'detail' fund.fund_id %}">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
          <img src="{{ fund.image_url.url }}" alt="" width="100%" height="225" style="border-radius: 15px; padding:5px;">
          <div class="card-body">
            <h4 class="card-title mb-2"> {{fund.title}}<br>

              <!-- 날짜에 따른 D-day 설정 표기 -->
            {% if fund.d_day == 0 %}
            <button type="button" class="btn btn-sm btn-light mt-1">D-DAY</button>
            {% elif fund.d_day < 0 %}
            <button type="button" class="btn btn-sm btn-light mt-1">D{{fund.d_day}}</button>
            {% else %}
            <button type="button" class="btn btn-sm btn-light mt-1">D+{{fund.d_day}}</button>
            {% endif %}
            <span class="justify-content-right align-items-center mt-1" style="font-size: 1rem;">&nbsp;&nbsp;&nbsp;&nbsp;by {{fund.organizer.nickname}}</span>
            </h4>
            <div class="progress mb-3" style="height: 20px; width: 95%">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio fund.current_fund fund.goal 100 %}%; color: black;"
                aria-valuenow="{% widthratio current_fund goal 100 %}" aria-valuemin="0" aria-valuemax="100">
                &nbsp;&nbsp;{% widthratio fund.current_fund fund.goal 100 %}%
              </div>
            </div>
            <p class="card-text has_content" style="line-height: 150%;" content="{{fund.content}}"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="location.href='{% url 'detail' fund.fund_id %}'">View</button>
                {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                {% endcomment %}
              </div>
              <small class="text-muted">{{fund.hit}} Views &nbsp;&nbsp;&nbsp; {{fund.like}} Likes</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
    </div>


  </body>
</html>
{% endblock contents %}
