{% extends 'base.html' %} {% load static %} {% block contents %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>Profile</title>
  </head>
  <body>
    <div class="container grid">
      <div class="grid1 px-5 mb-3">
        <img
          src="{{ profileInfo.profileImage.url }}"
          alt="profile_img"
          width="100%"
          height="225"
          style="border-radius:15px;"
        />
      </div>
      <div class="grid2 px-3 my-3">
        <p>
          <span style="font-size: 2rem; font-weight:bold;"
            >{{ profileInfo.nickname }} </span
          >님의 프로필
        </p>
        <h4>총 기부금 :</h4>
        <h4>기부횟수 :</h4>
        <a href="{% url 'updateProfile' user.id %}">개인 정보 수정</a>
      </div>
    </div>
    <br />
    <br />
    <br />
    <!-- 주최 기부 목록 -->
    <div class="container grid3">
      <h2>주최한 기부</h2>
      <br />
      <a href="{% url 'detail' 1%}" style="margin-right: 5px;">
        <div class="card" style="width: 18rem; margin-right: 5px;">
          <img
            src="{% static 'img/SYD_test.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </a>
      <hr width="100%" />
      <br />
      <br />
    </div>

    <!-- 참가 기부 목록 -->
    <div class="container">
      <h2>참가한 기부</h2>
      <br />
      <a href="{% url 'detail' 1 %}" style="margin-right: 5px;">
        <div class="card" style="width: 18rem; margin-right: 5px;">
          <img
            src="{% static 'img/SYD_test.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </a>
      <hr width="100%" />
      <br />
      <br />
    </div>

    <!-- 누적 기부 금액 들어가는 곳 -->
    <div class="container">
      <h2>누적 기부 금액</h2>
      <br />
      <br />
      <br />
    </div>
  </body>
</html>
{% endblock contents %}
