{% extends 'base.html' %} {% load static %} {% block contents %}
<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <!-- css파일 -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
  <title>Sign Up</title>
  <style>
    .doublecheck:hover{
      background-color: rgba(255, 110, 97, 0.26);
      color: #FF6F61;
      border-color: rgba(255, 110, 97, 0.26);
    }
  </style>
  <!-- js파일 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/signup.js' %}"></script>
</head>

<body>
  <!--
    <script>
      $(function(){
        console.log("dddddd")
        /* username 수정했을 때 */
        $('#email').change(function () {
            $('#img-email').hide();
        });
        
        $('#btn-email').click(function(){
          var email = $('#email').val()
          console.log(email)
          $.ajax({
            url:'/checkemail?email='+email,
            type:'get',
            dataType:'json',
            success:function(response){
                if(response.result != 'success'){
                    console.error(response.data)
                    return;
                }
                if(response.data == 'exist'){
                    alert("존재하는 이메일입니다!");
                    return;
                }else{
                  $('#img-email').show();
                  $("#join-submit").attr("email_check_result", "success");
                  return;
                }
                // console.log(response)
            },
            error : function(xhr, error){
                alert("서버와의 통신에서 문제가 발생했습니다.");
                console.error("error : " + error);
            }
        })
        $("#email").on("propertychange change keyup paste input", function(){
                    $('#img-email').hide();
                    $('#btn-email').show();
                    $("#join-submit").attr("email_check_result", "fail");
                });
                
    });
    </script>
-->
  {% if error_code == 1 %}
    <script>
      $(function(){
        alert("이메일이 중복됩니다.")
        return;
      });
      </script>
    {% endif %}
    {% if error_code == 2 %}
    <script>
      $(function(){
        alert("비밀번호가 다릅니다. CONFIRM PASSWORD를 확인해 주세요.")
        return;
      });
      </script>
    {% endif %}
  <br>
  <br>
  <!-- form 시작-->
  <div class="form">
    <div class="form-panel one">
      <div class="form-header">
        <h1>Sign Up</h1>
        <div class="form-group required" style="float:right; ">
          <label></label>필수입니다
        </div>
      </div>
      <br>
      <div class="form-content">
        <form id="join-form" name="joinForm" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group required">
            <label for="username">Username(성명)</label>
            <input type="text" id="username" name="username" required="required" style="width:244px;" />
          </div>
          <div class="form-group required">
            <label for="email" style="width:100%;">E-mail(이메일)</label>
            <input type="text" id="email" name="email" required="required" style="width:244px; height:35px;"
              placeholder="XXX@XXX.com" />
              
            <input type="button" id="checkEmail" value="중복확인" class="doublecheck"
              style="float:left; width:23%; border: 2px solid #FF6F61; background-color: #FF6F61; color:white; font-weight: bold; margin: auto; padding-left:10px; border-radius: 10px;" >
              
              <p id="img-username" style="display:none;">사용할 수 있는 이메일입니다.</p>
              </div>
          <div class="form-group required">
            <label for="password">Password(비밀번호)</label>
            <input type="password" id="password" name="password1" required="required"
              style="width:244px; height:35px;" />
          </div>
          <div class="form-group required">
            <label for="password">Confirm Password(비밀번호 확인)</label>
            <input type="password" id="password" name="password2" required="required" style="width:244px; height:35px;">
          </div>

          <div class="form-group required">
            <label for="nickname" style="width:100%;">Nickname(닉네임)</label>
            <input type="text" id="nickname" name="nickname" required="required" style="width:244px; height:35px;">
            <input type="button" id="checknickname" value="중복확인" class="doublecheck"
            style="float:left; width:23%; border: 2px solid #FF6F61; background-color: #FF6F61; color:white; font-weight: bold; margin: auto; padding-left:10px; border-radius: 10px;">
          </div>

          <div class="form-group required">
            <label for="birthday">Birthday(생년월일)</label>
            <input type="date" id="birthday" name="birthday" required="required" style="width:244px; height:35px; border: 1px solid rgb(201, 200, 200);">
          </div>

          <div class="form-group required">
            <label for="phoneNumber">Phone Number(휴대폰 번호)</label>
            <input type="number" id="phoneNumber" name="phoneNumber" required="required" placeholder="010XXXXXXXX"
              maxlength="11" oninput="maxLengthCheck(this)" style="width:244px; height:35px;">
          </div>

          <div class="form-group required">
            <label for="profileImage">Profile Image(프로필 사진)</label>
            <input type="file" name="profileImage" id="profileImage" style="width:244px; height:35px;">
          </div>

          <br>
          <div class="form-group" style="font-size:1.3em;" style="width:244px; height:35px;">
            <button type="submit" id="join-submit" email_check_result="fail" style="background-color:#FF6F61; font-weight:bold;">가입하기</button>
          </div>
        </form>
        <br>
        <div class="text-center">이미 회원이신가요? <a class="login_button" href="{% url 'login' %}">로그인 하기</a></div>
      </div>
    </div>
  </div>
  <!-- form end  -->
  <br>
  <br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    // 좋아요 버튼 처리
    // 버튼 클릭 > ajax통신 (like url로 전달) > views의 like 메소드에서 리턴하는 값 전달받기 > 성공시 콜백 호출
    $("#checkEmail").click(function () {
      var email = document.getElementById("email").value; // 클릭한 요소의 attribute 중 name의 값을 가져온다.
      if(email == ''){
        alert('이메일을 입력하세요.')
        return;
      }
      $.ajax({
        type: "POST", // 데이터를 전송하는 방법을 지정한다.
        url: "{% url 'check_email' %}", // 통신할 url을 지정한다.
        data: {
          email: email,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
        dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
        // 서버측에서 전송한 데이터 views.py like 메소드
        // context = {'likes_count' : memo.total_likes, 'message' : message}
        // json.dump(context)를 통해서 json 형식으로 전달된다.

        success: function (response) {
          // 성공했을 때 호출할 콜백을 지정한다.
          //$("#count" + pk).html("count : " + response.likes_count);
          if(response.isExist == 1){
            alert("중복된 이메일 입니다.")
          } else {
            alert("사용해도 되는 이메일 입니다.")
          }
        },
        error: function (request, status, error) {
          //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    });
  </script>
  <script type="text/javascript">
    // 좋아요 버튼 처리
    // 버튼 클릭 > ajax통신 (like url로 전달) > views의 like 메소드에서 리턴하는 값 전달받기 > 성공시 콜백 호출
    $("#checknickname").click(function () {
      var nickname = document.getElementById("nickname").value; // 클릭한 요소의 attribute 중 name의 값을 가져온다.
      if(nickname == ''){
        alert('닉네임을 입력하세요.')
        return;
      }
      $.ajax({
        type: "POST", // 데이터를 전송하는 방법을 지정한다.
        url: "{% url 'check_nickname' %}", // 통신할 url을 지정한다.
        data: {
          nickname: nickname,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
        dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
        // 서버측에서 전송한 데이터 views.py like 메소드
        // context = {'likes_count' : memo.total_likes, 'message' : message}
        // json.dump(context)를 통해서 json 형식으로 전달된다.

        success: function (response) {
          // 성공했을 때 호출할 콜백을 지정한다.
          //$("#count" + pk).html("count : " + response.likes_count);
          if(response.isExist == 1){
            alert("중복된 닉네임 입니다.")
          } else {
            alert("사용해도 되는 닉네임 입니다.")
          }
        },
        error: function (request, status, error) {
          //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    });
  </script>
</body>

</html>
{% endblock contents %}




<!-- Form
  <br>
  <br>
  <div class="form">
    <div class="form-panel one">
      <div class="form-header">
        <h1>Sign Up</h1>
      </div>
      <div class="form-content">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username(성명)</label>
            <input type="text" id="username" name="username" required="required"/>
          </div>
          <div class="form-group">
            <label for="email" style="width:100%;">E-mail(이메일)</label>
            <input type="text" id="email" name="email" required="required" style="width:70%;"/>
            <input type="button" id="checkemail" value="중복확인" style="float:left; width:28%;">
          </div>
          <div class="form-group">
            <label for="password">Password(비밀번호)</label>
            <input type="password" id="password" name="password1" required="required"/>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password(비밀번호 확인)</label>
            <input type="password" id="password" name="password2" required="required">
          </div>
          <div class="form-group">
            <label for="nickname" style="width:100%;">Nickname(닉네임)</label>
            <input type="text" id="nickname" name="nickname" required="required" style="width:70%;">
            <input type="button" id="checknickname" value="중복확인" style="float:left; width:28%;">
          </div>
          <div class="form-group">
            <label for="birthday">Birthday(생년월일)</label>
            <input type="date" id="birthday" name="birthday" required="required">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number(휴대폰 번호)</label>
            <input type="number" id="phoneNumber" name="phoneNumber" required="required" placeholder="010XXXXXXXX">
          </div>
          <div class="form-group">
            <label for="profileImage">Profile Image(프로필 사진)</label>
            <input  type="file"  name="profileImage" id="profileImage">
          </div>
          <div class="form-group">
            <label for="fundNumber">Fund number(기부 번호)</label>
            <input type="number" id="fundNumber" name="fundNumber">
          </div>
          <div class="form-group">
            <label for="keword">Keyword(관심 키워드)</label>
            <input type="text" id="Keyword" name="Keyword">
          </div>
          <br>
          <div class="form-group" style="font-size:1.3em;">
            <button type="submit">가입하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  form end  -->