<!-- {% comment %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block contents %}
    <div class="container" style="padding-top:100px; ">
      <h1>Sign Up!</h1>
      <form>
        Username :
        <br />
        <input name="username" type="text" value="" />
        <br />
        Password :
        <br />
        <input name="password1" type="password" value="" />
        <br />
        Confirm Password :
        <br />
        <input name="password2" type="password" value="" />
        <br />
        Nickname :
        <input name="nickname" type="text" value="" />
        <br />
        Birthday :
        <input name="birthday" type="date" value="" />
        <br />
        Phone Number :
        <input name="phoneNumber" type="number" value="" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Sign Up!" />
      </form>
    </div>
    {% endblock contents %}
  </body>
</html>
<!-- {% endcomment %} -->
