a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
  
.grid h2{
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.updateButton{
  text-decoration: none;
  border: 1px solid #FF6F61;
  border-radius: 20px;
  color: white;
  background-color: #FF6F61;
  width: 120px;
  height: 35px;
  transition: all 0.2s;
  font-size: 1rem;
  padding: 3px 5px;
  font-weight: bold;
}
.updateButton:hover{
  background-color: rgba(255, 110, 97, 0.26);
  color: #FF6F61;
  border-color: rgba(255, 110, 97, 0.26);
}